<div class="container">
  <div class="content">

    <app-welcome></app-welcome>

    <!-- <div *ngIf="registerNotify">
      <h2 class="text-center" [ngStyle]="styleSuccess">Register Success</h2>
    </div> -->

      <h2 class="text-center" [ngStyle]="styleStatus">{{title}}</h2>
      <div class="row" *ngIf="registerForm">
        <div class="col-md-6 col-md-offset-3" style="background-color: #fff;padding: 15px;">
          <form action="#">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" #registerUsername>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" #registerPassword>
            </div>
            <div class="form-group">
              <label for="confirmpassword">Confirm Password</label>
              <input type="password" class="form-control" id="confirmpassword" #registerConfirmPassword>
            </div>
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" #registerEmail>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success col-md-6 col-xs-6" (click)="onClickRegister(registerUsername.value, registerPassword.value, registerConfirmPassword.value, registerEmail.value);">Register</button>
                <a href="/login" type="button" class="btn btn-default col-md-5 col-xs-5 col-md-offset-1 col-xs-offset-1">Login</a>
              </div>
          </form>
        </div>
      </div>
  
  </div>
</div>

<!-- 
<div *ngIf="messageService.messages.length">

  <h2>Messages</h2>
  <button class="clear"
          (click)="messageService.clear()">clear</button>
  <div *ngFor='let message of messageService.messages'> {{message}} </div>

</div> -->