<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header" style="padding-top: 10px;">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="./">
        Text Sharing
      </a>
    </div>

    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a routerLink="./">Home</a>
        </li>
        <li>
          <a routerLink="./">Contact</a>
        </li>
      </ul>
      <a class="nav-login-register" routerLink="/register"><span class="nav navbar-right navbar-text hidden-xs" style="padding-right: 25px;">Register</span></a>
      <a class="nav-login-register" routerLink="/login"><span class="nav navbar-right navbar-text hidden-xs" style="padding-right: 25px;">Login</span></a>
    </div>
  </div>
</nav>